.stats {
  padding-top: 100px;

  &__container {
    &--heading {
      max-width: 500px;
      margin-inline: auto;
    }

    & .grid h3 {
      font-size: 35px;
    }

    & .grid p {
      font-size: 20px;
      font-weight: bold;
    }

    & .grid {
      // tablet
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 2rem;
      }
    }
  }

  animation: slideInFromBottom 1s ease-in;

  // tablet
  @media (max-width: 768px) {
    animation: slideInFromRight 1s ease-in;
  }
}
